body,p,span{
font-family:'Roboto',sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Rubik' sans-serif;
}
body .btn-primary{
	background: #e73a3e !important;
    border-color: #e73a3e;
	padding: 10px 40px;
	font-size: 16px;
	position: relative;
	z-index: 1;
	
}
img{
	max-width: 100%;
}
.grybg{
	background: #f9fafb;
}


body .btn-primary::after{
	content: "";
	position:absolute;
	left: 0;
	top: 0;
	right: 100px;
	width:0;
	height: 100%;
	background: #111;
	border-color: #111;
	z-index: -1;
	transition: .4s;

}
body .btn-primary:hover::after{
	width: 100%;

}

/* start */
.main-header .container-fluid,.slider{
max-width: 1480px;
}
ul.our-menu li a{
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	color: #111;
	font-weight: 500;
}
ul.our-menu li a:hover{
	color: rgb(192, 51, 51);
	
}
/* dropdown */
ul.our-menu li{
	position: relative;
}
ul.our-menu li ul{
	position: absolute;
	width: 250px;
	left: 0;
	top: 140%;
	background: #fafafa;
	list-style: none;
	padding: 10px;
	opacity: 0;
	visibility: hidden;
	transition:all .5s ease-in-out;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
ul.our-menu li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
ul.our-menu li ul li{
	flex-direction: column;
	transition:all .5s ease-in-out;
}
ul.our-menu li ul li:hover{
	letter-spacing:.5mm;
	
}
.header-search {
	width: 50px;
	font-size: 20px;
	text-align: center;
	margin-right: 20px;
	border-right: 1px solid #ddd;
}
.header-col{
	width: 220px;
}
.header-col-icon {
	font-size: 33px;
	color: red;
}
.header-col-info span{
	color: #606060;
}
.header-col-info a{
	color: #111;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
}

/* Slider */
.slider{
	background: url(./img/main-banner2.jpg) no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
}
.slider-contant-wrap{
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
}
.slider-contant h6{
	color: #e73a3e;
}
.slider-contant h1{
	font-size: 65px;
	margin-top: 25px;
	margin-bottom: 20px;
	font-family: 'Rubik'sans-serif;
}
.slider-contant p{
	font-weight: 400;
	color: #606060;
	font-size: 20px;
}
.header-social{
	position: absolute;
	left: 0;
	bottom: 0;
}
.header-social ul{
	list-style: none;
	padding-left: 0;
}
.header-social ul li span{
	font-size: 18px;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}
.header-social ul li span::after{
	content: "";
	height: 1px;
	width: 35px;
	top: 51%;
	position: absolute;
	background: #111;
	right: -50px;
}
.header-social ul li a{
	text-decoration: none;
	display: inline-block;
	padding: 0 14px;
	color: #111;
	font-size: 20px;
}
/* Part two */

.c-logo ul{
	list-style: none;
	padding-left: 0;
}
/* about section */
.about-img{
	position: relative;
}
.about-img-text{
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(./img/shape.png);
	height: 200px;
	width: 300px;
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-img-text p{
	font-weight: 600;
}
.about-text h3{
	font-size: 40px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 16px;
}
.li1{
	list-style: none;
	padding: 0;
	
}
.li1 li{
	padding: 10px 0px;
}
.li1 li i{
	margin-left: 0;
	margin-right: 10px;
	font-size: 20px;

}
/* part 3 */
.chose-us{
	position: relative;
}
.animation-bt{
	width: 90px;
	height: 90px;
	display: inline-block;
	background: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: red;
	border-radius: 50%;
	position: absolute;
	right: 41%;
	bottom: 51px;
}
.animation-bt::before{
	content: "";
	width: 90px;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	background: red;
	border-radius: 50%;
	animation: playbtn 2s ease-out infinite;
}
@keyframes playbtn{
	0%,30%{
		transform: scale(0);
		opacity: 1;
	}
	50%{
		transform: scale(1.5);
		opacity: .5;
	}
	100%{
		transform: scale(2);
		opacity: 0;
	}
}






.iteam{
	background:#fff;
	padding: 30px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	transition: .5s;
}
.iteam:hover{
	transform: translateY(-12px);
}
.iteam::before{
	content: "";
	position: absolute;
	top: -145px;
	left: 0;
	right: 0;
	margin: auto;
	width: 95%;
	height: 70%;
	background: #fdebeb;
	border-radius: 50%;
}
.iteam .ft-icon i{
	color: red;
	background:#fff;
	font-size: 35px;
	height: 90px;
	width: 90px;
	line-height: 90px;
	border-radius: 50%;
	position: relative;
	transition: .5s;
}
.iteam:hover .ft-icon i{
	background: red;
	color: #fff;
}
/* part 4 */
.h3{
	font-size: 40px;
}
.step-timeline ul{
	list-style: none;
	padding-left: 50px;
}
.step-timeline ul::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: #e73c3e;
}

.step-timeline ul li::before {
	content: attr(data-counter);
	position: absolute;
	top: 0;
	left: -57px;
	height: 40px;
	width: 40px;
	background: #f9fafb;
	border: 1px solid #e73c3e;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	color: red;
}
.step-timeline li{
	margin-bottom: 25px;
	position: relative;
}
.step-timeline li strong{
	font-size: 24px;
	display: block;
}
.step-timeline li p{
	padding-top: 10px;
	color: #636060;
}
/* form */
.form{
	background: #fdebeb;
}
.ff{
	font-size: 40px;
}
.form-control{
	color: #948e84;
}
.form h6{
	color: #808080;
	margin-top: 15px;
}
/* part-5 */
.bn{
	background: red;
	border-radius: 10px;
	margin: 45px;
	padding: 50px;
	
}
.bn .b1{
	padding: 25px;
	color: #fff;
	box-sizing: border-box;
	border-right: 1px solid rgba(255, 255, 255, 0.746);
}
.bn .b1 h3{
	font-size: 30px;
}
.bn .i2 i {
	height: 80px;
	width: 80px;
	background: #fff;
	border-radius: 50%;
	color: red;
	font-size: 52px;
	text-align: center;
	line-height: 80px;
	margin-top: 17px;
	margin-left: 30px;
}
.bn .i2 span {
	color: #fff;
	font-size: 50px;
	margin-left: 35px;
}
.info ul{
	list-style: none;
}
.info ul li{
	margin-bottom: 25px;
}
.info ul li strong{
	font-size: 24px;
	display: block;
}
.info ul li p{
	padding-top: 10px;
	color: #636060;
}
/* our company section */
.valus-item{
	margin-bottom: 20px;
}
.valus-item .valu-icon {
	font-size: 30px;
	color: red;
	margin-right: 54px;
}
.valu-text p{
	color: #606060;
}
.our-company-img {
	text-align: start;
	margin-top: 125px;
	
}